body {
  font-family: "Cairo", sans-serif;
  /* font-family: "Gamja Flower", cursive; */
}

.demo-container {
  position: relative;
  width: 80%;
  height: 90vh;
  margin: 10px auto;
  border: 1px solid #cfcbcb;
  border-radius: 15px;
  padding: 20px;
}
